<div class="games-admin">
    <header class="admin-header">
        <div class="header-content">
            <h1 class="title">Administration des jeux</h1>
            <h2 class="sous-title">Créez, modifiez ou supprimez des jeux</h2>
        </div>
    </header>

    <button class="btn-back" (click)="back()">← Retour</button>
    
    <button class="btn-create-game btn-primary" (click)="refresh()">
                <span class="btn-text">⟳ Rafraîchir</span>
    </button>

    @if (loading) {
    <p class="empty-state">Chargement...</p>
    }

    @if (errorMsg) {
    <p class="empty-state">{{ errorMsg }}</p>
    }

    <button class="btn-create-game btn-primary" (click)="createGame()">
                    <span class="btn-text"> + Créer un jeu</span>
    </button>

    <section class="list-frame">
        @if (games.length === 0 && !loading) {
            <p class="empty-state">Aucun jeu créé</p>
        } @else {
        <div class="games-list">
            @for (game of games; track game._id) {
                <app-game-created
                    [game]="game"
                    (toggle)="toggleVisibility($event)"
                    (editGame)="editGame($event)"
                    (deleteGame)="deleteGame($event)">
                </app-game-created> }
        </div>
        }

    </section>
</div>