// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use './app/pages/material-page/material-page.component.theme' as material-page;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.elevation-classes();
@include mat.app-background();

$indigo-pink-theme: mat.m2-define-light-theme(
    (
        color: (
            primary: mat.m2-define-palette(mat.$m2-indigo-palette),
            accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400),
            warn: mat.m2-define-palette(mat.$m2-red-palette),
        ),
    )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($indigo-pink-theme);
@include material-page.theme($indigo-pink-theme);

.indigo-pink-theme {
    // Nothing to do. This is the default theme
}

.deeppurple-amber-theme {
    $deeppurple-amber-theme: mat.m2-define-light-theme(
        (
            color: (
                primary: mat.m2-define-palette(mat.$m2-deep-purple-palette),
                accent: mat.m2-define-palette(mat.$m2-amber-palette, A200, A100, A400),
            ),
        )
    );
    @include mat.all-component-colors($deeppurple-amber-theme);
    @include material-page.theme($deeppurple-amber-theme);
}

.pink-bluegrey-theme {
    $pink-bluegrey-theme: mat.m2-define-dark-theme(
        (
            color: (
                primary: mat.m2-define-palette(mat.$m2-pink-palette, 700, 500, 900),
                accent: mat.m2-define-palette(mat.$m2-blue-grey-palette, A200, A100, A400),
            ),
        )
    );
    @include mat.all-component-colors($pink-bluegrey-theme);
    @include material-page.theme($pink-bluegrey-theme);
}

.purple-green-theme {
    $purple-green-theme: mat.m2-define-dark-theme(
        (
            color: (
                primary: mat.m2-define-palette(mat.$m2-purple-palette, 700, 500, 800),
                accent: mat.m2-define-palette(mat.$m2-green-palette, A200, A100, A400),
            ),
        )
    );
    @include mat.all-component-colors($purple-green-theme);
    @include material-page.theme($purple-green-theme);
}

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Mouse Pro";
  src: url("../src/assets/fonts/MousePro.woff2") format("woff2"),
       url("/assets/fonts/mousepro/MousePro.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mouse Pro";
  src: url("../src/assets/fonts/MousePro-Bold.woff2") format("woff2"),
       url("/assets/fonts/mousepro/MousePro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html,
body {
    height: 100%;
    cursor: url("../src/assets/body/piratehookcursor_32.png") 8 8, auto;
    
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

body {
    margin: 0;
    font-family: "Mouse Pro", system-ui, sans-serif;
    font-synthesis: none; 
    text-align: center;
}

.btn-back {
    position: fixed;
    left: 32px;
    bottom: 24px;

    padding: 16px 22px;
    border-radius: 999px;

    font-weight: 700;
    cursor: pointer;
    font-family: "Mouse Pro", system-ui, sans-serif;
    font-synthesis: none; 


    border: none;
    background: #362727;
    color: white;
}

.btn-back:hover ,.btn-primary:hover{
  filter: brightness(0.95);
  transform: translateY(-10px);
}

.btn-primary {
    padding: 12px 22px;
    border-radius: 12px;

    font-weight: 800;
    font-weight: 700;
    font-family: "Mouse Pro", system-ui, sans-serif;
    font-synthesis: none;



    cursor: pointer;
    border: none;

    background: #362727;
    color: #fff;
}

.title {
    margin: 0;
    font-weight: 600;
    font-size: 44px;
    color: #2a1616;
    margin: 12px 0;
}

.sous-title {
    margin-top: 14px;
    font-size: 22px;
    font-weight: 500;
    color: #71563a;
    margin: 12px 0;
}

.btn-name {
    font-size: 15px;
    font-weight: 700;
    font-family: "Mouse Pro", system-ui, sans-serif;
    color :#402e1c;
}
