.container {
  display: grid;
  grid-template-columns: 20vw 1fr 20vw;
  grid-template-areas: "left map right";
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #8d8d8d;
  align-items: center;
}

.map-game-section {
  grid-area: map;
  min-width: 0;
  min-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-game-section app-map-game {
  width: 100%;
  height: 100%;
}

.left-game-sidebar {
  grid-area: left;
  overflow-y: auto;
  padding: 10px;
}

.right-game-sidebar {
  grid-area: right;
  overflow-y: auto;
  padding: 10px;
}