<div class="chat">
  <div class="chat-header">
    <span>Journal de jeu</span>
  </div>

  <div #messagesContainer class="chat-messages">
    @for (msg of messages(); track $index) {
      <div class="message {{ getMessageClass(msg) }}">
        <div class="message-header">
          <span class="message-author">{{ msg.author }}</span>
          <span class="message-time">{{ msg.time }}</span>
        </div>
        <div class="message-content">{{ msg.content }}</div>
      </div>
    }
  </div>
</div>