<div class="map-grid" [style.--grid-size]="mapService.getSize()">
    @if (readyToLoad) {
        @for (row of mapService.getTileMap(); track $index; let rowIndex = $index) {
            @for (tile of row; track $index; let colIndex = $index) {
                <div class="tile"
                    (click)="onTileClick(colIndex, rowIndex)"
                    [attr.data-tile-type]="tileType[tile.tileType]"
                    [attr.data-object]="mapObjectType[tile.mapObject]"
                    [attr.data-movable]="getMovableTilesAt(colIndex, rowIndex) && isClientPlayerTurn() ? 'true' : null"
                    [attr.data-tooltip]="tile.mapObject !== mapObjectType.None ? getObjectDescription(tile.mapObject) : null"
                    [style.--tile-image]="'url(/assets/tiles/' + tileType[tile.tileType].toLowerCase() + '.png)'">
                    @if (getPlayerAt(colIndex, rowIndex); as player) {
                        <img class="player-avatar"
                            [src]="player.imageUrl"
                            [alt]="player.name" />
                    }
                </div>
            }
        }
    }
</div>
