.map-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    gap: 2px;
    background-color: black;
    width: min(90vw, 90vh);
    height: min(90vw, 90vh);
    margin: auto;
}

.tile {
    position: relative;
    aspect-ratio: 1;
    background-color: white;

    &[data-tile-type="Basic"] {
        background-image: url("/assets/tiles/basic.png");
        background-size: cover;
        background-position: center;
    }

    &[data-tile-type="Water"] {
        background-image: url("/assets/tiles/water.png");
        background-size: cover;
        background-position: center;
    }

    &[data-tile-type="Ice"] {
        background-image: url("/assets/tiles/ice.png");
        background-size: cover;
        background-position: center;
    }

    &[data-tile-type="Wall"] {
        background-image: url("/assets/tiles/wall.png");
        background-size: cover;
        background-position: center;
    }

    &[data-tile-type="Door"] {
        background-image: url("/assets/tiles/door.png");
        background-size: cover;
        background-position: center;
    }

    &[data-object="SpawnPoint"] {
        background-image: url("/assets/objects/spawn.png");
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
    }

    &[data-object="Flag"] {
        background-image:url("/assets/objects/flag.png"); 
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
    }

    &[data-object="HealingShrine"] {
        background-image: url("/assets/objects/heal.png"); 
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
    }

    &[data-object="CombatShrine"] {
        background-image: url("/assets/objects/combat.png"); 
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
    }

    transition: border 0.1s ease;
    border: 2px solid transparent;

    &:hover {
        border: 2px solid #fff;
        cursor: pointer;
    }
}

.tile::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: calc(100% + 12px);
    left: 50%;
    transform: translateX(-50%);
    background-color: #353535;
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
    z-index: 2000;
}

.tile[data-tooltip]:hover::after {
    opacity: 1;
}