@if (showPopup) {
    <app-popup [show]="true">
        <p>{{ popupMessage }}</p>
        <button class="button" (click)="closePopup()">Fermer</button>
    </app-popup>
}
<div class="sidebar-left">
    <div class="sidebar-content">
        <h3>Options de placement</h3>
        <div class="options" id="placement-options">
            <h4>Tuiles</h4>
            <div class="options-grid">
                <button class="option-btn" [class.selected]="isSelectedTile(tileType.Wall)" (click)="selectTile(tileType.Wall)" data-tooltip="Mur - Bloque le passage">
                    <img src="assets/tiles/wall.png" alt="Mur">
                </button>
                <button class="option-btn" [class.selected]="isSelectedTile(tileType.Water)" (click)="selectTile(tileType.Water)" data-tooltip="Eau - Coûte 2 points de mouvement">
                    <img src="assets/tiles/water.png" alt="Eau">
                </button>
                <button class="option-btn" [class.selected]="isSelectedTile(tileType.Ice)" (click)="selectTile(tileType.Ice)" data-tooltip="Glace - Coûte 0 point de mouvement">
                    <img src="assets/tiles/ice.png" alt="Glace">
                </button>
                <button class="option-btn" [class.selected]="isSelectedTile(tileType.CloseDoor)" (click)="selectTile(tileType.CloseDoor)" data-tooltip="Porte fermée - Coûte 1 point de mouvement">
                    <img src="assets/tiles/CloseDoor.png" alt="Porte">
                </button>
            </div>
            <h4>Objets</h4>
            <div class="options-grid">
                <button class="option-btn" [class.selected]="isSelectedObject(mapObjectType.SpawnPoint)" (click)="selectObject(mapObjectType.SpawnPoint)" data-tooltip="Point de départ des joueurs" [disabled]="toolService.getNumberObject(mapObjectType.SpawnPoint) === 0">
                    <img src="assets/objects/spawn.png" alt="Depart">
                    <p>{{ toolService.getNumberObject(mapObjectType.SpawnPoint) }}</p>
                </button>
                <button class="option-btn" [class.selected]="isSelectedObject(mapObjectType.Flag)" (click)="selectObject(mapObjectType.Flag)" data-tooltip="Drapeau - Objectif à capturer" [disabled]="mode !== gameMode.CTF || toolService.getNumberObject(mapObjectType.Flag) === 0">
                    <img src="assets/objects/flag.png" alt="Drapeau">
                    <p>{{ toolService.getNumberObject(mapObjectType.Flag) }}</p>
                </button>
                <button class="option-btn" [class.selected]="isSelectedObject(mapObjectType.HealingShrine)" (click)="selectObject(mapObjectType.HealingShrine)" [disabled]="toolService.getNumberObject(mapObjectType.HealingShrine) === 0">
                    <img src="assets/objects/heal.png" alt="Sanctuaire de soin">
                    <p>{{ toolService.getNumberObject(mapObjectType.HealingShrine) }}</p>
                </button>
                <button class="option-btn" [class.selected]="isSelectedObject(mapObjectType.CombatShrine)" (click)="selectObject(mapObjectType.CombatShrine)" [disabled]="toolService.getNumberObject(mapObjectType.CombatShrine) === 0">
                    <img src="assets/objects/combat.png" alt="Sanctuaire de combat">
                    <p>{{ toolService.getNumberObject(mapObjectType.CombatShrine) }}</p>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="sidebar-right">
    <div class="sidebar-content">
        <h3>Options de sauvegarde</h3>
        <div class="options" id="text-options">
            <div class="text-inputs">
                <label for="game-name">Nom du jeu:</label>
                <input type="text" id="game-name" placeholder="Entrez le nom du jeu"
                        [ngModel]="mapService.getName()"
                        (ngModelChange)="mapService.setName($event)">
                <label for="game-description">Description:</label>
                <textarea id="game-description" placeholder="Entrez la description du jeu"
                        [ngModel]="mapService.getDescription()"
                        (ngModelChange)="mapService.setDescription($event)"></textarea>
            </div>
        </div>
        <div class="options" id="save-options">
            <button class="action-btn" id="reset-btn" (click)="resetMap()">
                <span>Réinitialiser</span>
            </button>
            <button class="action-btn" id="save-btn" (click)="saveMap()">
                <span>Sauvegarder</span>
            </button>
            <button class="action-btn" id="menu-btn" (click)="goToMenu()">
                <span>Retour au menu</span>
            </button>
        </div>
    </div>
</div>
