:host{
    display: block;
  width: 100%;
  max-width: 550px; 
  justify-self: center; 
}

.game-name {
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0 0 8px 0;
  color: #4f2f2f;
}

.game-players {
  font-size: 0.85rem;
  color: #000000;
  font-style: italic;
  margin: 0;
}

:host {
  display: block;
}

.game-row {
  display: grid;
  gap: 10px;

  padding: 14px;
  border-radius: 14px;

  background: rgba(255, 255, 255, 0.522);

}

.top {
  position: relative;
  width: 100%;
  height: 200px; 
}

.preview-wrap img {
  background: rgba(43, 14, 14, 0.704);
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.preview-wrap { 
    width: 200px;
    height: 200px; 
   position: absolute;
    top:0;

    left:50%;
    transform: translateX(-50%);

    overflow:hidden;
    border-radius: 10px;
    transition: left 250ms ease, transform 250ms ease;
}

.meta {
  color: #261a1a;
  font-size: 15px;
}

.desc-panel {
  position :absolute;
  top:15px;
  right: 20px;

  width:240px;
  height:140px;

  padding:12px;
  border-radius:10px;

  background-color: #4f2f2f84;
  border: 2px solid  #171010;
  
  transform: translateX(10px);
  pointer-events:none;
  opacity:0;

  transition: opacity 200ms ease,transform 250ms ease;
}

.top:hover .preview-wrap {
  left: 0;
  transform: translateX(0);
}

.top:hover .desc-panel {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}