<div class="games-create">
    <header class="create-header">
        <div class="create-header-content">
            <h1 class="title">Liste des jeux </h1>
            <h2 class="sous-title">Choisisez un jeu </h2>
        </div>
    </header>

    <button class="btn-back" routerLink="/">← Retour</button>

    <section class="list-frame">
      @if (games.length === 0 ) {
          <p class="empty-state">Aucun jeu créé</p>
      } @else {
          <div class="games-list">
          @for (game of games; track game._id) {
            <app-game-card [game]="game" (click)="selectGame(game)"></app-game-card>
          }
        </div>
      }
    </section>
</div>
