<div class="container">
    <div class="title-banner">
    </div>

    <main class="content">
        <div class="buttons">
            <button class="button" id="Join" routerLink="/game" disabled></button> <!-- enlever le bouton disabled quand on voudra cette fonctionnalité -->
            <button class="button" id="Create" routerLink="/game-creation"></button>
            <button class="button" id="admin" routerLink="/admin"></button>
        </div>    
    </main>

    <footer class="footer-item footer-text">
        <h4>Équipe 208</h4>
        <p> imane Abdeljalil, Antoine Delorme, Alexandre Girouard, Olivier Richer,Alec Desfossés,Zakaria Soudaki</p>   
    </footer>
</div>
