<div class="container justified">
    <h1 class="header-item">Bienvenue au cours {{ title }}</h1>
    <img src="https://bit.ly/3QofL1J" alt="Logo Projet" />
    <section id="server-message" class="justified">
        <p>Petit message du serveur : {{ message.getValue() }}</p>
        <div class="justified">
            <button class="button" disabled >Joindre une partie</button>
            <button class="button" disabled>Créer une partie</button>
            <button class="button" disabled>Administrer les jeux</button>
        </div>
    </section>

    <button class="button" routerLink="/game">Jouer!</button>

    <footer class="footer-item">
        <h4 class="team-name">Équipe Poly</h4>
        <p>
            <span>imane ABDELJALIL</span>, <span>Antoine Delorme</span>, <span>Alexandre Girouard</span>, 
            <span>Olivier Richer</span>, <span>Alec Desfossés</span>, <span>Zakaria Soudaki</span>
        </p>
    </footer>
</div>
