<article class="game-row">
    <div class="top">
        <div class="preview-wrap">
            <img [src]="previewSrc" [alt]="'Prévisualisation de ' + game.name" />
        </div>

        @if (hasDescription) {
            <div class="desc-panel">{{ game.description }}</div>
        }
    </div>

    <div class="meta">
        <h2 class="game-name">{{ game.name }}</h2>
        <p> {{size}}    {{mode}}</p>
        <p> Modifié le: {{ game.date | date:'yyyy-MM-dd HH:mm' }}</p>
    </div>
    <div class="button-action">
    <button class="btn-name"
        (click)="onToggle()"
        [class.is-hidden]="!game.visible">
        {{ game.visible ? 'Visible' : 'Caché' }}
    </button>

    <button class="btn-name" (click)="onEdit()" [disabled]="!game._id">
        Modifier
    </button>

    <button class="btn-name" (click)="onDelete()" [disabled]="!game._id">
        Supprimer
    </button>
    </div>
</article>