:host {
  display: block;
}

.game-row {
  display: grid;
  gap: 10px;

  padding: 14px;
  border-radius: 14px;

  background: rgba(255, 255, 255, 0.522);

  grid-auto-flow: row;

  text-align: center;
}

.preview {
  background: rgba(43, 14, 14, 0.704);
}

.preview img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: auto;
}

.sous-title {
  font-size: 1.7pc;
  color: rgba(110, 27, 27, 0.92);
}

button {
  width: 100%;
}

.game-row .btn-name {
  border: 1px solid rgba(74, 33, 33, 0.12);
  color: rgba(99, 34, 34, 0.92);
  

  min-height: 40px;

  cursor: pointer;
}

.btn-name:hover {
  transform: translateY(-4px);
}

.game-row {
  grid-template-areas:
    "preview"
    "title"
    "actions";
}

.preview { 
    grid-area: preview;
    width: 200px;
    height: 200px; 
    object-position: center;
    position: relative;
    overflow:visible;
}

.sous-title { 
  grid-area: title;
 }

.meta {
  grid-area: meta;
  color: #261a1a;
  font-size: 15px;
}

@supports selector(:has(*)) {
  .game-row:has(button.btn-name) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "preview preview preview"
      "title title title"
      "meta meta meta"
      "b1 b2 b3";
  }
  .game-row > .btn-name:nth-of-type(1) { grid-area: b1; }
  .game-row > .btn-name:nth-of-type(2) { grid-area: b2; }
  .game-row > .btn-name:nth-of-type(3) { grid-area: b3; }
}

.tooltip {
  color: black;
  visibility: hidden;
  pointer-events: none;
}

.preview:hover .tooltip {
  opacity: 1;
  visibility: visible;
}
